* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

	margin: 0px;
	background-color: #eee;
}

main {
	width: 360px;
	margin: 0px;
}

.preformatted {
	font-family: monospace;
	font-size: 12px;
	white-space: pre;
}

.debugTray {
	position: absolute;
	bottom: 0px;
	padding: 4px 0px;
}

.version {
	position: absolute;
	top: 0px;
	right: 0px;
}

.heading {
	display: flex;
	width: 360px;
	justify-content: center;
}

.functions {
	display: block;
	padding: 0px;
	margin: 0px;
}

.styledButtons button {
	box-shadow: inset 0px 0px 17px -2px #3e7327;
	background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color: #77b55a;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #eee;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 39px;
	text-decoration: none;
	text-shadow: 0px 1px 3px #5b8a3c;
	margin: 2px 5px;
	width: 168px;
	height: 56px;
}
.styledButtons button:hover {
	box-shadow: inset 0px 0px 17px 2px #3e7327;
	background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color: #72b352;
}
.styledButtons button:active {
	position: relative;
	top: 1px;
}

#actAsRandom {
	width: 100%;
}

#clipboardSummary {
	overflow: hidden;
}

#ctoolhuImage {
	width: 64px;
	height: 64px;
}

#currentlyMasquerading {
	display: none;
}

#currentlyMasquerading::after {
	display: block;
	content: "";
	clear: both;
}

#debugging {
	position: relative;
	display: none;
	padding: 4px;
	width: 280px;
}

#debugging #copyText {
	position: absolute;
	right: 0px;
	top: 0px;
}

#debugging #copyText img {
	width: 20px;
}

#masqueradeButtons {
	position: absolute;
	width: 268px;
	bottom: 0px;
}

#masqueradeInfo {
	width: 140px;
	overflow: hidden;
}

#masquerading {
	position: relative;
	display: none;
	padding: 4px;
	width: 280px;
}

#masqueradeImage {
	float: right;
	height: 80px;
}

#masqueradeRoles {
	width: 134px;
	float: left;
}

#miscellaneous {
	position: relative;
	display: none;
	padding: 4px;
	width: 280px;
}

#miscellaneous button{
	width: 268px;
}